[user]
	name = mohammedyh
	email = mohammedyousufhamid@gmail.com
[color]
	ui = true
[core]
	pager = delta
	editor = nvim
[init]
	defaultBranch = main
[status]
	showUntrackedFiles = all
[diff]
	algorithm = histogram
	mnemonicPrefix = true
	renames = true
[branch]
	sort = -committerdate
[fetch]
	prune = true
	pruneTags = true
	all = true
[tag]
	sort = version:refname
[commit]
	verbose = true
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[delta]
	line-numbers = true
[interactive]
	diffFilter = delta --color-only
