[user]
	name = mohammedyh
	email = mohammedyousufhamid@gmail.com
[color]
	ui = true
[core]
	pager = delta
	editor = nvim
[init]
	defaultBranch = main
[status]
	showUntrackedFiles = all
[branch]
	sort = -committerdate
[commit]
	verbose = true
[push]
	autoSetupRemote = true
[delta]
	line-numbers = true
[interactive]
	diffFilter = delta --color-only
